.balance-section,
.balance-sectionR {
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    padding-left: 32px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    width: 1100px;

    justify-content: center;
    align-items: flex-start;

    padding: 0;
    margin: 0 auto;
  }
}

.balance-sectionR {
  @media screen and (min-width: 768px) {
    flex-direction: row;

    padding-left: 0;
  }
}

.balance-wrapper,
.balance-wrapperR {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    margin: 0 auto;
  }
}

.balance-wrapperR {
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 120px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 0;
  }
}

.balance-title,
.titleReport {
  color: rgba(82, 85, 95, 0.7);

  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  align-items: center;
  text-align: center;

  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-right: 21px;
    margin-bottom: 0;
  }
}

//? Report
.boxReport {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.balance-boxAdd {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

.balance-value,
.valueReport {
  width: 142px;
  height: 44px;

  background-color: transparent;
  color: #000000;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  align-items: center;
  text-align: right;

  padding: 12px 10px;

  border: 2px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-radius: 22px 0px 0px 22px;

  @media screen and (min-width: 768px) {
    text-align: center;

    border-radius: 22px;
  }
}

.balance-messageStart {
  position: relative;
  color: transparent;
  text-transform: none;

  &::before,
  &::after {
    display: block;
    position: absolute;
    opacity: 1;
    visibility: visible;
  }

  &::before {
    content: attr(data-title);

    width: 280px;
    height: 152px;

    top: 40px;
    left: -56px;
    z-index: 1;

    background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
    color: #fff;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.429;
    text-align: left;

    padding: 29px 25px;

    border-radius: 30px;

    box-sizing: border-box;

    transition: opacity 1s, margin-top 1s;
  }

  &::after {
    content: '';

    top: 30px;
    left: 16px;

    border-bottom: 10px solid #1d346a;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    transition: opacity 1s, margin-top 1s;
  }
}

.valueReport {
  text-align: center;

  margin: 0 auto;

  border-radius: 22px;
}

.balance-btnAdd {
  width: 142px;
  height: 44px;

  background-color: transparent;
  color: rgba(82, 85, 95, 0.7);

  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: left;

  padding: 12px 10px;

  border: 2px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-radius: 0px 22px 22px 0px;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    text-align: center;
    border-radius: 22px;
  }

  &:hover {
    background: #ff751d;
    color: #ffffff;
    border-color: #ff751d;
  }
}

.balance-current {
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.balance-linkBox {
  text-align: left;
  padding-left: 23px;
}

.balance-linkHome {
  position: relative;

  color: #000000;

  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  cursor: pointer;

  &::before {
    content: '';
    width: 18px;
    height: 18px;

    position: absolute;
    top: -3px;
    left: -23px;

    background-image: url('../../images/icons/balance_backspace.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
