.incomes-section {
  background-color: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;

  @media screen and (min-width: 1280px) {
    width: 1100px;

    margin: 0 auto;
  }
}

.incomes-wrapperUp {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: flex-start;

    padding: 24px 32px 40px;
  }

  @media screen and (min-width: 1280px) {
    gap: 32px;

    padding: 34px 32px 62px;
  }
}

.incomes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.incomes-transactionList {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.incomes-transactionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #f5f6fb;
}

.incomes-descriptionBox {
  max-width: 167px;
  width: 100%;

  text-align: left;
}

.incomes-description {
  color: #52555f;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.04em;

  margin-bottom: 3px;
}

.incomes-infoBox {
  display: flex;
  gap: 20px;
}

.incomes-date {
  color: #52555f;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    width: 80px;
  }
}

.incomes-category {
  color: #52555f;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    width: 130px;
  }
}

.incomes-amount {
  width: 120px;

  color: #52555f;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.04em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (min-width: 768px) {
    width: 110px;

    margin-right: 15px;
  }
}

.incomes-amountGreen {
  color: #407946;
}

.incomes-btnChange,
.incomes-btnDelete {
  width: 18px;
  height: 18px;

  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  cursor: pointer;
}

.incomes-btnChange {
  @media screen and (max-width: 767px) {
    margin: 0 7px;
  }
}

.incomes-iconChange {
  width: 18px;
  height: 18px;

  background-image: url('../../images/icons/change.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  :hover {
    cursor: pointer;
  }
}

.incomes-iconDelete {
  width: 18px;
  height: 18px;

  background-image: url('../../images/icons/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  :hover {
    cursor: pointer;
  }
}

.incomes-mobileNavLink,
.incomes-tabletNavLink {
  background: #f5f6fb;
  color: #000;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.incomes-mobileNav {
  position: fixed;
  bottom: 0;
  z-index: 1;

  max-width: 320px;
  width: 100%;
  height: 53px;

  display: flex;
  justify-content: center;
  gap: 4px;
}

.incomes-mobileNavLink {
  height: 100%;
  width: calc(50% - 2px);
}

.incomes-tabletNav {
  height: 40px;

  display: flex;

  margin-right: auto;

  @media screen and (min-width: 1280px) {
    width: 1100px;

    margin: 0 auto;
  }
}

.incomes-tabletNavLink {
  width: 138px;

  border: 2px solid #ffffff;
  border-bottom: transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.NavLink--current {
  background-color: #ff751d;
  color: #ffffff;
  border-color: #ff751d;

  cursor: auto;
}

.incomes-wrapperDesktop {
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 75px - 32px;
  }
}

.incomes-tableContainer {
  text-align: left;

  padding: 0 32px 40px;

  @media screen and (min-width: 1280px) {
    width: 704px;

    padding-bottom: 60px;
  }
}

.incomes-tableHead {
  height: 40px;

  background-color: #f5f6fb;
  color: #000000;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0 36px 0 32px;

  border-radius: 20px 20px 0 0;
}

.incomes-tableBodyContainer {
  height: 338px;

  overflow-y: scroll;

  border-left: 2px solid #f5f6fb;
  border-bottom: 2px solid #f5f6fb;

  &::-webkit-scrollbar {
    width: 6px;
    height: 130px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f5f6fb;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ff751d;

    border-radius: 2px;

    outline: 1px solid #f5f6fb;
  }
}

.incomes-tableHeadDate,
.incomes-tableBodyDate {
  width: 100px;
}

.incomes-tableHeadDescription,
.incomes-tableBodyDescription {
  width: 150px;
}

.incomes-tableHeadCategory,
.incomes-tableBodyCategory {
  width: 130px;
}

.incomes-tableHeadSum,
.incomes-tableBodySum {
  width: 130px;
}

.incomes-tableHeadSum {
  text-align: right;

  padding-right: 52px;
}

.incomes-tableBodySum {
  color: #407946;

  text-align: right;

  padding-right: 30px;
}

.incomes-tableBodyBtnChange {
  margin-right: 20px;
}

.incomes-tableHeadBtnChange,
.incomes-tableBodyBtnChange {
  width: 18px;
}

.incomes-tableHeadButton,
.incomes-tableBodyButton {
  width: 20px;
}

.incomes-tableItem {
  border-bottom: 2px solid #f5f6fb;
}

.incomes-tableBody {
  height: 40px;

  color: #52555f;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.04em;
  align-items: center;

  display: flex;
  justify-content: flex-start;

  padding: 0 30px;
}
